{% extends "base.html" %}
{% block content %}
<h2>Your Matches</h2>
<div class="grid-container">
    {% for match in matches %}
    <div class="grid-item">
        <img src="{{ url_for('static', filename='uploads/' ~ match.photo) if match.photo else url_for('static', filename='placeholder.png') }}" alt="User Photo">
        <h3>{{ match.name }}</h3>
        <p class="ai-match">AI Match: {{ match.match_percentage }}%</p>
        <p>Age: {{ match.age }}</p>
        <p>Location: {{ match.location }}</p>
        <h4>About</h4>
        <p>{{ match.about_glimpse[:100] }}...</p>
        <div class="photo-gallery">
            {% for photo in match.photos %}
            <div class="photo-container">
                <img src="{{ url_for('static', filename='uploads/' ~ photo['filename']) }}" alt="User Photo" class="user-photo">
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
